<h1>Libros</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genero</th>
            <th>Valoracion</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" [ngClass]="{'nytimes': book.nytimes}">
            <td><img class="img-thumbnail" width="90" [src]="book.imagen" [alt]="book.titulo"></td>
            <td>{{book.titulo |uppercase}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.genero}}</td>
            <!-- <td>{{book.valoracion}}</td> -->
            <td><span class="badge badge-danger" *ngIf="book.valoracion==0">VALOR ES 0</span></td>
            <td>
                <app-input-numero [(cantidad)]="book.cantidad" [max]="book.valoracion" *ngIf="book.valoracion" (maxAlcanzado)="maximoAlcanzado($event)"></app-input-numero>
                <!-- *ngIf es para q no muestre el componente si la valoracion es 0 -->
                Cant: {{book.cantidad}}
            </td>
        </tr>
    </tbody>
</table>