<h1>Sucursales</h1>
<h5>Encontrá las direcciones, horarios de atención de todas nuestras sucursales.</h5>
<div>
    <ul class="list-group">
        <li class="list-group-item">
            <h4>Abasto Shopping</h4>
            <p>Av. Corrientes 3217</p>
            <p>Venta de libros y cafeteria. Horiarios de atención 12:00 a 20:00hs lunes a sabado</p>
        </li>
        <li class="list-group-item">
            <h4>Almagro</h4>
            <p>Av. Corrientes 3889</p>
            <p>Venta de libros. Horiarios de atención 12:00 a 20:30hs lunes a viernes</p>
        </li>
        <li class="list-group-item">
            <h4>Barrio Norte</h4>
            <p>Av. Santa Fe 2401</p>
            <p>Venta de libros. Horiarios de atención 12:00 a 20:00hs lunes a sabado</p>
        </li>
        <li class="list-group-item">
            <h4>Constitucion</h4>
            <p>Av. Brasil 1253</p>
            <p>Venta de libros y cafeteria. Horiarios de atención 12:00 a 20:00hs lunes a viernes</p>
        </li>
    </ul>
</div>